<header class="globalHeader">
    <div class="globalHeader__logo">
      <a href="/" class="globalHeader__branding">
        {% include _icons/beakerx-logo.svg %}
      </a>
    </div>
    <nav class="globalHeader_item globalHeader__nav">
      <ul class="globalHeader__menu">
	  <li class="globalHeader__menu__item">
	    <a href="http://opensource.twosigma.com" 
	       class="globalHeader__menu__link"
	       target="_blank">
            <span class="globalHeader__logo ts_logo">{% include _icons/two-sigma-logo.svg %}</span>
	    </a>
	  </li>
          {% for link in site.data.header.links %}
              <li class="globalHeader__menu__item">
                  <a href="{{ link.url }}"
                     class="globalHeader__menu__link"
                     target="_blank">
                     {{ link.title }}
                   </a>
              </li>
          {% endfor %}
      </ul>
    </nav>
</header>
