@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 0.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;

  animation-name: fadeIn;
}