.mainNav {
  background-color: $color-orange-dark;
  padding: 0;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint(desktop) {
      display: flex;
      justify-content: center;
    }
  }

  a {
    display: block;
    padding: 30px;
    border-top: 1px solid $color-orange-light;
    text-transform: uppercase;
    font-weight: $font-bold;
    letter-spacing: 1px;

    @include breakpoint(desktop) {
      border: 0;
    }
  }

  li:first-child a {
    border-top: 0;
  }

  .active {
    $triange-size: 30px;
    position: relative;

    &:after {
      @include breakpoint(desktop) {
        position: absolute;
        left: 50%;
        margin-left: -#{ $triange-size };
        display: block;
        content: "";
        border-style: solid;
        border-width: $triange-size $triange-size 0 $triange-size;
        border-color: $color-orange-dark transparent transparent transparent;
      }
    }

    a {
      color: $color-charcoal;
    }
  }
}

._is_hidden {
  display: none;
}
