.pageHeader {
  color: $color-white;

  p, a, p a {
    color: inherit;
  }

  code {
    display: block;
    background-color: $color-orange-light;
    border-color: $color-orange-dark;
    margin: 10px 0;
    padding: 2px 10px;
  }

  svg {
    fill: $color-white;
  }
}

.js--dropdown__close {
  display: none;
}

.js--postNav {
  padding-bottom: 15px;

  @include breakpoint(desktop) {
    padding-bottom: 0;
  }
}

._nav_open .js--postNav {
  padding-top: 15px;
}
