.globalFooter {
  background-color: $color-orange-dark;
  color: $color-white;
  padding: rem(20px) rem(30px);

  @include breakpoint(tablet-landscape) {
    @include size('padding-left', 130px);
    @include size('padding-right', 130px);
  }


  a {
    color: $color-charcoal;
  }
}

.globalFooter__social {
  border-bottom: rem(1px) solid $color-white;
  @include size('padding-bottom', 20px);

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
  }

  a {
    @include size('margin-right', 20px);
  }

  svg {
    @include size('width', 20px);
    fill: $color-white;
    transition: fill 0.5s ease;
  }

  a:hover svg {
    fill: $color-charcoal;
  }
}

.globalFooter__legal {
  @include size('font-size', 10px);
  @include size('line-height', 16px);
  @include size('margin-top', 20px);

  @include breakpoint(tablet-landscape) {
    @include size('font-size', 12px);
  }

  p {
    line-height: inherit;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
