.pageSubSection--highlight {

  @include breakpoint(tablet-landscape, max) {
    margin: 0;
  }

  .pageSubSection__title {
    display: none;

    @include breakpoint(tablet-landscape) {
      display: block;
    }
  }

  h4 {
    @include breakpoint(phone-portrait) {
      margin: 0;
    }
  }

  li {
    @include size('font-size', 22px);
    @include size('margin-bottom', 20px);

    @include breakpoint(tablet-landscape) {
      margin-bottom: 0;
    }
  }

  li:first-child {
    @include breakpoint(tablet-landscape) {
      @include size('font-size', 40px);
      width: calc(50% - #{ rem(10px) });
    }
  }

  li:last-child {
    margin-bottom: 0;
  }

  a:hover .cls-1 {
    fill: $color-charcoal;
    transition: all 0.2s ease;
  }
}

.icon--next {
  display: inline-block;
  @include size('vertical-align', -8px);
  @include size('width', 30px);
}

li:first-child .icon--next {
  @include breakpoint(tablet-landscape) {
    @include size('width', 45px);
    @include size('vertical-align', -10px);
  }
}
