.projectGrid {
  @include breakpoint(tablet-landscape) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + #{rem(20px)});
  }
}

.projectGrid__item {
  @include bar('bottom');
  @include size('margin-bottom', 15px);
  @include size('padding-bottom', 15px);

  @include breakpoint(tablet-landscape) {
    width: calc(50% - #{ rem(20px) } );
    border-bottom: 0;
    @include size('margin-right', 20px);
    @include size('padding-right', 20px);
    @include bar('right');
  }

  @include breakpoint(desktop) {
    width: calc(33% - #{ rem(20px) } );
  }

  @include breakpoint(desktop-large) {
    width: calc(25% - #{ rem(20px) } );
  }

  p {
    margin: rem(5px) 0;
  }

  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  a:active {
    background-color: transparent;
  }

  a:hover p {
    transition: all 0.2s ease;
    color: $color-white;
  }

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }

  &:nth-child(even) {
    @include breakpoint(tablet-landscape) {
      border-right: 0;
    }

    @include breakpoint(desktop) {
      @include bar('right');
    }
  }

  &:nth-child(3n+3) {
    @include breakpoint(desktop) {
      border-right: 0;
      margin-right: 0;
    }

    @include breakpoint(desktop-large) {
      @include bar('right');
      @include size('margin-right', 20px);
    }
  }

  &:nth-child(4n+4) {
    @include breakpoint(desktop-large) {
      border-right: 0;
      margin-right: 0;
    }
  }
}

.projectGrid__title {
  @include size('font-size', 34px);
  margin-bottom: 0;

  @include breakpoint(tablet-landscape) {
    @include size('font-size', 36px);
    @include size('line-height', 38px);
  }
}

.projectGrid__graphic {
  @include size('width', 100px);
  @include size('height', 100px);
  @include size('padding', 5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectGrid__row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  @include breakpoint(tablet-landscape) {
    display: block;
  }
}

.projectGrid__column {
  @include size('margin-right', 20px);

  @include breakpoint(tablet-landscape) {
    margin-right: 0;
  }
}

.projectMeta {
  &--smallScreen {
    @include breakpoint(tablet-landscape) {
      display: none;
    }
  }

  &--bigScreen {
    display: none;

    @include breakpoint(tablet-landscape) {
      display: block;
    }
  }
}

.projectMeta__item {
  @include size('margin-right', 20px);
  @include size('font-size', 13px);
  color: $color-white;

  svg {
    display: inline-block;
    @include size('width', 10px);
    @include size('margin-right', 5px);
  }

  &:last-child svg {
    @include size('vertical-align', -2px);
  }
}

a:hover .projectMeta__item {
  color: $color-white;
}
