<section class="pageSection contributions">
    <header class="pageSection__header">
        <h2 class="pageSection__title">{{ site.data.contributions.header }}</h2>
    </header>
    <div class="pageSection__content">
        <div class="projectGrid">
          {% for project in site.data.contributions.projects %}
            <article class="projectGrid__item">
              {% if project.link %}
              <a href="{{ project.link }}">
              {% else %}
              <a href="https://github.com/{{project.github.user}}/{{project.github.project}}">
              {% endif %}
                <h3 class="projectGrid__title">{{ project.title }}</h3>
                <p>{{ project.text }}</p>
              </a>
            </article>
          {% endfor %}
        </div>
    </div>
</section>
