{% assign sorted_pages = site.home_subpages | sort:"order" %}
<nav class="pages__navigation">
  <ul>
    {% for item in sorted_pages %}
    {% assign subpage_section_id="js--subpage-" | append:item.slug %}
    <li {% if item.url == page.url %}class="active"{% endif %}>
      <a href="{{ item.url | absolute_url }}" data-content-id="{{ subpage_section_id }}"
         data-url="{{ item.url | absolute_url }}">{{ item.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<section class="pages__wrapper">
  {% for item in sorted_pages %}
  {% assign subpage_section_id="js--subpage-" | append:item.slug %}
  {%- capture section_classes %}pages__item pages__item_{{ item.slug }}{% if item.url == page.url %} pages__item_active{% endif %}{% endcapture -%}
  <article id="{{ subpage_section_id }}" class="{{ section_classes }}">
    {{ item.content | markdownify }}
  </article>
  {% endfor %}
</section>
