<section class="pageSection projects">
    <header class="pageSection__header">
        <h2 class="pageSection__title">{{ site.data.projects.header }}</h2>
    </header>
    <div class="pageSection__content">
        <div class="projectGrid">
          {% for project in site.data.projects.projects %}
            <article class="projectGrid__item">
              {% if project.link %}
              <a href="{{ project.link }}">
              {% else %}
              <a href="https://github.com/{{project.github.user}}/{{project.github.project}}">
              {% endif %}
              <div class="projectGrid__row">
                <div class="projectGrid__graphic">
                  {% include _icons/{{ project.icon }} %}
                </div>
                <div class="projectGrid__column">
                    <h3 class="projectGrid__title">
                        {{ project.title }}
                    </h3>
                    <div class="projectMeta projectMeta--smallScreen">
                        {% for repository in site.github.public_repositories %}
                            {% if project.github.project == repository.name %}
                              <span class="projectMeta__item">
                                {% include _icons/star.svg %}
                                {{ repository.stargazers_count }}
                              </span>
                              <span class="projectMeta__item">
                                {% include _icons/fork.svg %}
                                {{ repository.forks_count }}
                              </span>
                            {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </div>
                <p>{{ project.text }}</p>
              <div class="projectMeta projectMeta--bigScreen">
                  {% for repository in site.github.public_repositories %}
                      {% if project.github.project == repository.name %}
                        <span class="projectMeta__item">
                          {% include _icons/star.svg %}
                          {{ repository.stargazers_count }}
                        </span>
                        <span class="projectMeta__item">
                          {% include _icons/fork.svg %}
                          {{ repository.forks_count }}
                        </span>
                      {% endif %}
                  {% endfor %}
              </div>
              </a>
            </article>
          {% endfor %}
        </div>
    </div>
</section>
