<div class="projectHeader">
  <div class="projectHeader__section js--preNav">
    <div class="pageHeader__content projectHeader__section__inner">
      <div class="projectMeta">
        {% for repository in site.github.public_repositories %}
          {% if include.project.github.project == repository.name %}
          <span class="projectMeta__item github">
	    <a href="https://github.com/twosigma/beakerx"
	       target="_blank">
            {% include _icons/github.svg %}
	    </a>
          </span>
          <span class="projectMeta__item latestRelease" data-releases-url="{{ repository.releases_url }}"></span>
          <span class="projectMeta__item star">
            {% include _icons/star.svg %}
            {{ repository.stargazers_count }}
          </span>
          <span class="projectMeta__item fork">
            {% include _icons/fork.svg %}
            {{ repository.forks_count }}
          </span>
          {% endif %}
        {% endfor %}
        {% if include.project.twitter %}
        <span class="projectMeta__item twitter">
          <a href="https://twitter.com/{{ include.project.twitter }}">{% include _icons/twitter.svg %}</a>
        </span>
        {% endif %}
      </div>
      <div class="projectHeader__text">{{ include.project.text | markdownify }}</div>
    </div>
  </div>
  <div class="projectHeader__section projectHeader--aside">
    {% for section in include.project.header %}
    <div class="projectHeader__item projectHeader__section__inner">
      <header>
        {% if section.icon %}
        <span class="ico">{% include _icons/{{ section.icon }} %}</span>
        {% endif %}
        <h2>{{ section.title }}</h2>
      </header>
      {{ section.content | markdownify }}
    </div>
    {% endfor %}
  </div>
</div>
