<div class="pageSection stats">
  <div class="pageSection__content stats__wrapper">
    <div class="stats__item stats__item--main">
      <section class="carousel slider"  data-js-component="carousel">
        {% for slide in site.data.stats.slides %}
          <div>
            <img src="static/img/{{ slide.file }}" alt="{{ slide.title }}">
          </div>
        {% endfor %}
      </section>
    </div>
    <div class="stats__item stats__item--aside">
      <div class="stats__text">
        {{ site.data.stats.text | markdownify }}
      </div>
    </div>
  </div>
</div>
