<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <main class="home">
      {% include header.html %}
    <header class="pageHeader" data-js-component="pageHeader">
      {% include _home/projectHeader.html project=site.data.main_project %}
      {% include _home/mainNav.html %}
    </header>

    {% if page.order == 1 %}
      <div class="contentWrapper overview" data-js-component="postProcess">
    {% else %}
      <div class="contentWrapper subpage">
    {% endif %}
        <section class="pageSection">
          {{ content }}
        </section>
      </div>

    {% include footer.html %}
  </main>
  <script src="/static/js/jquery-3.2.0.min.js"></script>
  <script src="/static/js/slick.min.js"></script>
  <script src="/static/js/scripts.js"></script>
</body>
</html>
