<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- include _home/openGraphMeta.html -%}
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
<main class="home">
    {%- include header.html -%}
    {%- include _home/project.html project=site.data.main_project -%}
    {%- include _home/pages.html -%}
    {%- include footer.html -%}
</main>
<script src="/static/js/jquery-3.2.0.min.js"></script>
<script src="/static/js/scripts.js"></script>
</body>
</html>
