<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- include _home/openGraphMeta.html -%}
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
  <main class="home fadeIn">
    {%- include header.html -%}
    <header class="pageHeader" data-js-component="pageHeader">
      {%- include _home/projectHeader.html project=site.data.main_project -%}
    </header>

    {%- include _home/subPages.html -%}

    {%- include footer.html -%}
  </main>
  <script src="/static/js/jquery-3.2.0.min.js"></script>
  <script src="/static/js/scripts.js"></script>
</body>
</html>
