body {
  padding: 0 20px;
}

code {
  padding: 2px 10px;
  margin: 10px 0;

  .pages-wrapper & {
    padding: 10px;
  }

  pre & {
    overflow: auto;
    margin-bottom: 0;
    width: 100%;
  }
}

img {
  max-width: 100%;
}

.home {
  @include size('max-width', 1280px);

  margin: 0 auto;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:  "page-header"
                        "project"
                        "project-aside"
                        "pages-navigation"
                        "pages-content"
                        "page-footer";
  align-items: start;
  @include size('grid-column-gap', 30px);
}

.page-header {
  grid-area: page-header;
  width: 100%;

  display: flex;
  flex-flow: row;
  align-items: flex-end;
  @include size('padding', 30px);
  @include size('padding-top', 45px);
  justify-content: space-between;
  &__logo {
    display: inline-block;
    @include size('width', 230px);
  }

  &__tsos-logo {
    display: inline-block;

    @include size('width', 68px);
    margin-left: 30px;
    overflow: hidden;
    img {
      display: block;
      height: 57px;
      max-width: unset;
    }
  }
}

.project {
  grid-area: project;

  display: flex;
  flex-flow: column;
}

.project-header {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  padding: 10px 30px;

  &__item {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-right: 5px;
  }
  svg {
    width: 18px;
    height: auto;
  }
}

.project-description {
  grid-area: project;
  padding: 10px 30px;
}

.project-aside {
  grid-area: project-aside;
  padding: 10px 30px;

  header {
    display: flex;
    align-items: flex-end;

    .ico {
      margin-right: .8rem;
    }
  }
}

.project-header,
.project-description,
.project-aside {
  justify-self: start;
}

.pages-navigation {
  grid-area: pages-navigation;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    display: block;
    padding: 0;
    margin: 0;
  }
  a {
    display: block;
    padding: 30px;
    border: 0 solid var(--bx-color-orange);
    border-bottom-width: 1px;
  }
}

.pages-wrapper {
  grid-area: pages-content;
  @include size('padding', 30px);

  .pages__item {
    display: none;
    &_active {
      display: block;
    }
    &_index {
      h1, h2, h3, h4, h5, h6 {
        + p {
          @include size('padding', 30px);
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.page-footer {
  grid-area: page-footer;

  @include size('padding-top', 30px);
  @include size('padding-right', 30px);
  @include size('padding-left', 30px);
}

@media (min-width: 961px) {
  .home {
    grid-template-columns: 7fr 5fr;
    grid-template-areas:  "page-header page-header"
                          "project project-aside"
                          "pages-navigation pages-navigation"
                          "pages-content pages-content "
                          "page-footer page-footer";
  }

  .page-header, .page-footer, .pages-wrapper, .pages-navigation {
    @include size('padding-left', 130px);
    @include size('padding-right', 130px);
  }
  .page-header {
    @include size('margin-bottom', 30px);
  }

  .project-aside {
    @include size('padding-right', 130px);
  }

  .project-header, .project-description {
    @include size('padding-left', 130px);
  }

  .page-header {
    &__tsos-logo {
      display: block;

      @include size('max-width', 230px);
      margin: 0;
      width: unset;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .project-aside {
    border-left: 20px solid var(--bx-color-orange-dark);
  }

  .pages-navigation {
    @include size('margin-top', 60px);
    ul {
      display: flex;
      flex-flow: row;
      justify-content: center;
    }
  }

  .pages__item_index {
    &.pages__item_active {
      display: flex;
      flex-flow: row wrap;
      h1, h2, h3, h4, h5, h6 {
        flex-basis: 100%;
        + p {
          border-bottom-width: 0;
          border-right: 20px solid var(--bx-color-orange-dark);
          padding: 0 30px 0 0;
          + p {
            padding: 0 0 0 30px;
          }
        }
      }
      p {
        flex-basis: 50%;
      }
      hr {
        flex-basis: 100%;
      }
    }
  }
}
