body {
  color: $color-white;
  font-family: $font-primary;
  font-weight: $font-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $font-secondary;

  .home & {
    @include size('font-size', 18px);
  }
  .pages-wrapper & {
    @include size('line-height', 26px);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-extra-bold;
}

b, strong {
  font-weight: $font-extra-bold;
}

a {
  color: $color-white;
  transition: all 0.2s ease;
  text-decoration: none;

  .project-description &,
  .project-aside &,
  .pages-wrapper & {
    border-bottom: 1px solid $color-white;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  &.img {
    border-width: 0;
  }

  .pages-navigation & {
    text-transform: uppercase;
    font-weight: $font-bold;
    &:hover {
      color: $color-gray-dark;
    }
  }

  .pages-navigation .active &,
  .page-footer & {
    color: $color-gray-dark;
  }
}

svg {
  .project-header__item & {
    fill: $color-white;
    @include size('height', 16px);
  }

  .page-footer & {
    fill: $color-white;
    transition: fill 0.5s ease;
    @include size('width', 20px);
  }

  .page-footer a:hover & {
    fill: $color-gray-dark;
  }
}

.project,
.project-aside,
.pages-wrapper {
  @include size('font-size', 18px);
  @include size('line-height', 24px);
}

.project-aside {
  h2 {
    margin: 0;
    @include size('font-size', 20px);
    font-weight: $font-bold;

  }
}

.project-header__item {
  @include size('line-height', 32px);
  @include size('font-size', 16px);
}

.pages-wrapper {
  h1, h2, h3, h4, h5, h6 {
    line-height: normal;
  }
}
.page-footer {
  color: $color-gray-dark;
  @include size('font-size', 12px);
  @include size('line-height', 16px);

  &__social {
    border-bottom: 1px solid $color-orange;
    @include size('padding-bottom', 20px);

    ul {
      padding: 0;
      margin: 0;
    }
    li {
      display: inline-block;
    }
    a {
      @include size('margin-right', 20px);
    }
  }
}
