// Box Module
*,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Wrappers
html {
  font-size: 90%;
}

body {
  background-color: $color-orange-dark;
  color: $color-white;

  // detect breakpoints
  &:before {
    display: none;
    @each $breakpoint in map-keys($breakpoints) {
      @include breakpoint($breakpoint) {
        content: $breakpoint;
      }
    }
  }
}

.contentWrapper {
  &--hero {
    background-color: $color-orange;
    @include bar('bottom');

    @include breakpoint(tablet-landscape) {
      margin-bottom: 0;
    }
  }
}

.home,
.page {
  background-color: $color-orange-light;
  max-width: #{ map-get($breakpoints, desktop-large) / 16px }rem;
  @include bar('left');
  @include bar('right');

  @include breakpoint(tablet-landscape) {
    margin: 0 auto;
  }

  @include breakpoint(desktop-large) {
    border: 0;
  }
}

// Sections
.pageSection,
%pageSection {
  @include size('padding', 30px);

  @include breakpoint(tablet-landscape) {
    @include size('padding-left', 130px);
    @include size('padding-right', 130px);
  }
}

.pageSection--hero {
  @include breakpoint(tablet-landscape) {
    @include size('padding-top', 40px);
  }

  h1 {
    font-weight: $font-regular;
    margin-bottom: 0;
    @include size('font-size', 30px);

    @include breakpoint(tablet-landscape) {
      @include size('font-size', 41px);
      margin: rem(20px) 0;
    }

    p {
      margin: 0;
    }
  }

  br {
    @include breakpoint(tablet-landscape, max) {
      display: none;
    }
  }
}

.pageSection--row {
  @include breakpoint(tablet-landscape) {
    display: flex;
  }
}

.pageSection__header {
  @include sectionBorder;

  p {
    color: inherit;
  }
}

.pageSection__title,
.pageSubSection__title {
  @include size('font-size', 16px);
  font-weight: $font-extra-bold;

  @include breakpoint(tablet-landscape) {
    @include size('margin-top', 20px);
    @include size('font-size', 18px);
  }
}

.pageSection__title {
  min-width: 20%;
}

.pageSection__text {
  @include breakpoint(tablet-landscape) {
    @include size('font-size', 18px);
  }
}

.pageSubSection {
    @include bar('top');
    @include size('margin-top', 40px);

    h4 {
      font-weight: $font-extra-bold;
    }

    ul {
      list-style: none;
      padding: 0;

      @include breakpoint(tablet-landscape) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    li {
      @include breakpoint(tablet-landscape) {
        width: calc(25% - #{ rem(10px) });
      }
    }
}

.pageSubSection__title {
  margin: rem(20px) 0 rem(10px) 0;
}

// Columns
